{% extends 'base.html' %}

{% block title %}Nova Despesa{% endblock %}

{% block content %}

<h1>Nova Despesa</h1>

<div class="card">
<form method="POST">
    {% csrf_token %}

    <div>
        <label for="id_descricao">Descrição</label>
        {{ form.descricao }}
    </div>

    <div>
        <label for="valor_display">Valor</label>
        <div class="input-money">
            <span>R$</span>
            <input 
                type="text" 
                id="valor_display"
                placeholder="0,00"
                required
            >
        </div>
        {{ form.valor.as_hidden }}
    </div>

    <div>
        <label for="id_data">Data</label>
        {{ form.data }}
    </div>

    <button class="button" type="submit">Salvar</button>
</form>
</div>

<script>
const display = document.getElementById("valor_display");
const hiddenInput = document.getElementById("id_valor");

display.addEventListener("input", function (e) {
    let digits = e.target.value.replace(/\D/g, "");

    if (!digits) {
        e.target.value = "";
        hiddenInput.value = "";
        return;
    }

    let number = parseInt(digits, 10) / 100;

    hiddenInput.value = number.toFixed(2);

    e.target.value = number.toLocaleString("pt-BR", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
    });
});
</script>

{% endblock %}