{% extends 'base.html' %}

{% block title %}Nova Corrida{% endblock %}

{% block content %}

<h1>Nova Corrida</h1>

<div class="card">
<form method="POST">
    {% csrf_token %}

    <div>
        <label for="id_plataforma">Plataforma</label>
        {{ form.plataforma }}
    </div>

    <div>
        <label for="valor_display">Valor</label>
        <div class="input-money">
            <span>R$</span>
            <input 
                type="text" 
                id="valor_display"
                placeholder="0,00"
                required
            >
        </div>
        {{ form.valor.as_hidden }}
    </div>

    <div>
        <label for="id_data">Data</label>
        {{ form.data }}
    </div>

    <button class="button" type="submit">Salvar</button>
</form>
</div>

<script>
const display = document.getElementById("valor_display");
const hiddenInput = document.getElementById("id_valor");

display.addEventListener("input", function (e) {
    let value = e.target.value.replace(/\D/g, "");

    if (!value) {
        e.target.value = "";
        hiddenInput.value = "";
        return;
    }

    value = (value / 100).toFixed(2);

    let displayValue = value.replace(".", ",");
    displayValue = displayValue.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    e.target.value = displayValue;

    hiddenInput.value = value;
});
</script>

{% endblock %}